In [2]:
import pandas as pd

l=pd.read_csv("input.csv")

In [42]:
l

,Employee Code,Manager Employee Code,Date of Joining,Date of Exit,Compensation,Compensation 1,Compensation 1 date,Compensation 2,Compensation 2 date,Review 1,Review 1 date,Review 2,Review 2 date,Engagement 1,Engagement 1 date,Engagement 2,Engagement 2 date
0,1,NaN,2021-01-01,NaN,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,2021-01-01,NaN,20000,10000.0,2022-01-01,20000.0,2023-01-01,9.0,2021-06-01,9.5,2022-06-01,4.0,2021-03-01,5.0,2022-03-01
2,3,1.0,2021-01-01,2023-12-31,20000,10000.0,2022-01-01,20000.0,2023-01-01,9.0,2021-06-01,9.5,2022-06-01,4.0,2021-03-01,5.0,2022-03-01

In [3]:
l8=pd.DataFrame()
l1=[]
l2=[]

l3=["Compensation","Compensation date","Review","Review date","Engagement","Engagement Date"]

a=5
b=7
c=0

#Setting the index for Employer Code
for x in l.index:
  for y in l.iloc[x,[5,7]].values:
    l1.append(l["Employee Code"][x])      
l8["Employee Code"]=l1

#Seperating data of each column to be written into a Dataframe 
while (a<=14):
  l2=[]
  for x in l.index:
    for y in l.iloc[x,[a,b]].values:
      l2.append(y)       
  l8[l3[c]]=l2
  c=c+1

#To minimize code if else sstatement is added to automaticaly assign to iloc function.    
  if (a%2!=0): 
    a=a+1
    b=b+1
    
  else: 
    a=a+3
    b=b+3

l8.to_csv("l8.csv")

In [4]:
l8

,Employee Code,Compensation,Compensation date,Review,Review date,Engagement,Engagement Date
0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2,10000.0,2022-01-01,9.0,2021-06-01,4.0,2021-03-01
3,2,20000.0,2023-01-01,9.5,2022-06-01,5.0,2022-03-01
4,3,10000.0,2022-01-01,9.0,2021-06-01,4.0,2021-03-01
5,3,20000.0,2023-01-01,9.5,2022-06-01,5.0,2022-03-01

In [5]:
l8.to_csv("l8.csv")